* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input:-webkit-autofill {
	color: #ffffff;
    -webkit-box-shadow: 0 0 0 0px #1a1b4b inset; /* Change the color here */
}
a {
	color: #9acefe;
	font-weight: 600;
	font-size: 1rem;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	color: #ffffff;
	background-color: #3a9efd;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	position: relative;
	letter-spacing: 0.05rem;
	line-height: 1.5;
	text-align: center;
}

:focus {
	outline: none;
}

.wrapper {
	overflow: auto;
	width: 100%;
	padding: 1rem .4rem;
}

/*----------------
	header, footer, buttons
-----------------*/
button {
	border: none;
	cursor: pointer;
}

nav {
	width: 100%;
	font-size: 1rem;
	margin: 0 auto;
	padding: 5% 10% 5%;
}

#geoLocationBtn,
#unitBtn {
	background: none;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 50%;
	padding: 5px 0px 2px 0px;
	color: #fafafa;
	height: 45px;
	transition: background 1s ease-in-out, border 0.2s ease-in-out;
	width: 45px;
}

#geoLocationBtn.on,
#unitBtn.on {
	background: rgba(255, 255, 255, 0.25);
}

#geoLocationBtn:focus,
#geoLocationBtn:hover,
#unitBtn:focus,
#unitBtn:hover {
	border: 1px solid rgba(255, 255, 255, 0.75);
}

#geoLocationBtn {
	margin-right: 10px;
}

#unitBtn {
	font-weight: 300;
	padding-right: 3px;
	padding-top: 2px;
	text-transform: uppercase;
}

#unitBtn:before {
	content: '\00b0';
	/* Degree symbol */
	padding: 1px;
}

#geoLocationBtn {
	animation: pulse 2s infinite;
}

@keyframes pulse {
	20% {
		background: rgba(255, 255, 255, 0.15);
	}
}

.box .location-box {
	position: relative;
	width: 100%;
	margin-top: 2rem;
}

.box .location-box input {
	width: 100%;
	padding: 10px 0;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fafafa;
	color: #fafafa;
	outline: none;
	background: transparent;

}

.box .location-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 1rem;
	color: #fafafa;
	pointer-events: none;
	transition: .5s;
}

.box .location-box input:focus~label,
.box .location-box input:valid~label {
	top: -20px;
	left: 0;
	color: rgba(255, 255, 255, 0.45);
	;
	font-size: .78rem;
}

#footer {
	font-size: 0.5rem;
	letter-spacing: 0.07em;
	line-height: 2;
	padding: .6rem 0;
	border: 2px solid red;
	width: 100%;
}

#lastUpdated {
	color: #ffffff;
	padding: 12% 0 2% 0;
}

/*----------------
Current Forecast
-----------------*/
#forecast {
	padding: 10% 5% 20%;
	position: relative;
}

#location {
	font-size: 3.2em;
	font-weight: 700;
	margin: 0;
}

.info {
	font-weight: 300;
	font-size: 1.5em;
}
.astro{
	margin-top: 3%;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.astro p{
	font-size: 1em;
	margin: 0;
	text-align: center;
	display: inline-flex;
	gap: 0.5rem;
}

#forecast .weatherIcon {
	margin: 2% auto 1%;
	padding: 0;
}

#forecast .icon {
	height: 100px;
	width: 100px;
}

.temp {
	font-size: 3em;
	font-weight: 600;
	line-height: 1.3;
}

.temp:after {
	content: '\00b0';
	margin-right: -0.3em;
}

.feelslike {
	content: '\00b0';
	margin-right: -0.3em;
}

.feelslike:after {
	content: '\00b0';
	margin-right: -0.3em;
}

#forecast .conditions {
	font-size: 1.8em;
	font-weight: 700;
	color: #9acefe
}

#forecast .property {
	font-size: 1.8rem;
	font-weight: 500;
}
 .properties {
	display: grid;
	width: 100%;
	margin: 4% 3%;
	grid-template-columns: 1fr 1fr 1fr;
	gap: .25rem;
}

.properties p {	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 4% 5%;
	gap: .5rem;
}

/*----------------
	Future Forecast
-----------------*/
#future {
	margin-bottom: 10%;
	padding: 0 10%;
}

#future>.container {
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	margin: 0;
	padding: 5% 10%;
	width: 100%;
}

#future>.container:first-child {
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}

#future .day {
	font-size: 1.5em;
	color: #9acefe;
	padding: 0;
	text-align: left;

}

#future .weatherIcon {
	float: right;
	font-size: 0.5em;
	height: 50px;
	margin-left: 10%;
	margin-top: -5%;
	width: 50px;
}

#future p {
	text-align: left;
}

.high:after,
.low:after {
	content: '\00b0';
	padding: 1px;
}

.low {
	color: rgba(255, 255, 255, 0.75);
}

/*----------------
	Media Queries
-----------------*/
@media (min-width: 375px) {
	nav {
		left: 5%;
		top: 10%;
	}

	#geoLocationBtn,
	#unitBtn {
		display: block;
		margin-bottom: 10px;
	}

	#forecast {
		padding-bottom: 5%;
		padding-top: 5%;
	}
}

@media (min-width: 550px) {
	nav {
		top: 8%;
	}

	.date,
	#forecast .conditions {
		font-size: 1.4em;
	}

	#forecast .weatherIcon {

		height: 120px;
		margin: 7% auto 3%;
		width: 120px;
	}

	#future {
		font-size: 1.1rem;
		padding: 0;
		margin-bottom: 3%;
	}

	#future>.container {
		border-bottom: none;
		float: left;
		padding: 20px;
		width: 33.33%;
	}

	#future>.container:first-child {
		border-top: none;
	}

	#future>.container:not(:last-child) {
		border-right: 1px solid rgba(255, 255, 255, 0.25);
	}

	#future .day,
	#future p {
		text-align: center;
	}

	#future .weatherIcon {
		font-size: 0.56em;
		float: none;
		height: 60px;
		margin: 10% auto 5%;
		width: 60px;
	}

	footer {
		font-size: 0.9rem;
		padding: 1.5rem 0;
	}
}

@media (min-width: 880px) {
	nav {
		top: 5%;
	}

	#forecast {
		font-size: 1.5rem;
		padding-bottom: 7%;
		padding-top: 7%;
	}

	#forecast .weatherIcon {
		font-size: 0.82em;
		margin: 5% auto 2%;
	}

	#lastUpdated {
		padding-top: 13% 0 0 0;
	}
}

/*----------------
	Loader
-----------------*/

#loader {
	display: 'none';
	border: 4px solid rgba(0, 0, 0, 0.45);
	border-left: 4px solid #fafafa;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	animation: spin 2s linear infinite;
	margin: 20px auto;
  }
  
  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  } 